<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  <mapper namespace="org.hj.mapper.LoginMapper">
  
  	<insert id="memreg">
  		insert into member (id, password, name, birthday, gender)
  		values(#{id},#{password},#{name},sysdate(),"f");
  	</insert>
  	
  	<select id="login" resultType="org.hj.model.LoginVO">
  		select id, password
  		from member
  		where id=#{id} and password=#{password}
  	</select>
  	
  	<select id="memList" resultType="org.hj.model.LoginVO"> <!-- select의 결과가 여러개이기 때문에 배열이 필요하다. -->
  		select * 
  		from member
  	</select>
  	
  	<select id="memDetail" resultType="org.hj.model.LoginVO">
  		select *
  		from member where id=#{id}
  	</select>
  	
  	<update id="memModify">
  		update member 
  		set password=#{password} , name=#{name} , phone=#{phone} , email=#{email} , phone=#{phone}
  		where id=#{id}
  	</update>
  	
  	<delete id="memDelete">
  		DELETE FROM sample.member WHERE id=#{id}
  	</delete>
  	
  
  </mapper>